body{
margin: 0;
display: flex;
flex-direction: column;
align-items: center;
height: 100vh;
justify-content: center;
font-family: cursive;
background-color: slateblue;
color: white;
}
h2 , .year{
    margin: 50px;
    font-size: 4rem;
    box-sizing: border-box;
    
}
.countdown{
display: flex;
justify-content: center;
align-items: center;
}
.countdown div{
margin : 0 15px ;
font-size: 2.5rem;
font-weight: 500;
margin-top: -25px;
text-align: center;
position: relative;
}

.countdown div::before{
    content:"";
    position: absolute;
    bottom: -30px;
    left:0;
    font-size: .35em;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    width:100%;
    height: 35px;
}

.countdown #day::before{
    content:"Days";
}

.countdown #hour::before{
    content:"Hour";
}
.countdown #minute::before{
    content:"Minutes";
}
.countdown #second::before{
    content:"Seconds";
}